extends layout

block content
  .editContainer
    a(href='/')  
      i.details.fa.fa-angle-left(aria-hidden="true")
    .editHeader
      h1 Edit information for book id: #{books.id}  
    form(method='POST' action=`/editbook/update/${books.id}`).editForm
      .inputAuthor
        h1 Author:
        input(type='text' name='author' value=books.author)
      .inputAuthor
        h1 Title:
        input(type='text' name='title' value=books.title)
      .inputAuthor
        h1 Preview:
        textarea(type='text' rows='4' name='preview') #{books.preview}
      .inputAuthor
        h1 Genre:
        input(type='text' name='genre' value=books.genre)
      .inputAuthor
        h1 Book Cover URL:
        input(type='text' name='image_url' value=books.image_url)
      .inputSubmit
        button(type='submit' formmethod='post' value='Submit')
          | Save 
        a(href='/')
          i.edit.fa.fa-window-close(aria-hidden="true")
    form(action=`/delete/${books.id}` method='POST').deleteForm
      button(type="submit", value="delete"  onclick="return confirm('Are you sure you want to delete this book?')")
        | Delete
     
      
         
          
    
    
